*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* common css start*/
  .text{
    font-size: 24px;
    font-weight: 400;
    color: rgb(57, 56, 56);
  }
  .btn{
    height:fit-content ;
    width:fit-content;
    padding: 7px 19px;
    text-align: center;
    margin-top: 13px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
  }

  
/* common css end*/


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 95%;
    height: 60px;
    
    .logo{
        margin: 10px;
       
    }
   .option ul{
     list-style: none;
     
      & li{
        display: inline-block;
        margin: 10px;
        padding: 5px;
        transition: 0.5s ease;
      }
      
      & li:hover{
         border-bottom: 1px solid rgba(70, 68, 68, 0.716);
         cursor: pointer;
      }

    
   }

   .login{
    display: flex;
    gap: 10px;
    margin-top: -5px;

    .but2{
        background-color: black;
        color: white;
    }
    & img{
        height: 40px;
        width: 40px;
        margin-top: 8px;

    }
   }

}

/*hero section */

 .hero-section{
    height: 760px;
    width: 100%;
     
     .bg{
      position: relative;
      
      & img{
        height: 760px;
        width: 100%;
        z-index: -3;
      }

      .fr{
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 200px auto;
        border: 1px solid black;
        background-color:rgb(255, 255, 255);
        height: 344px;
        width: 1160px;
        border-radius: 15px;

        .heading{
          text-align: center;
          margin: 40px;
          font-size: 20px;
        }

        .form-content{
           & form{
                justify-content: center;
                display: flex;
                gap: 15px;
            
            & select {
               height: 40px;
               width: 220px;
               border: none;
               outline: none;
               border-radius: 8px;
               font-size: 14px;
               padding-left:10px ;
               
              }
           }
        }
      }
      
      .button{
        display: flex;
        justify-content: center;
        gap: 20px;
        .but3{
           width: 60%;
           border-radius: 10px;
          
        }
        .but4{
          width: 20%;
          background-color: rgb(18, 232, 228);
        }
      }

       .zappr{
          text-align: center;
          margin-top: -108px;

          .but5{
            background-color: inherit;
            border: 1px solid white;
            cursor: pointer;

            & p{
              color: white;
              font-weight: 300;
              font-size: 15px;
              border-bottom: 1px solid white;
            }
          }
       }

     }
    
    
  }


  /*buy/sell section start */
       .buy-sell{
        position: relative;
        margin-top: 56px;
        background-color: rgba(248, 213, 19, 0.946);
        height: 370px;
        width: 100%;
        
        .buy-content{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          margin-top: 50px;


          & h3{
          text-align: center;
          font-size: 34px;
          font-weight: 400;
          margin-bottom: 50px;

          
          & p{
            display: inline;
            font-style: italic;
          }

        }
        & img{
          width: 90%;
          margin:0 5%;
          
        }
   
         }
       }



/*feature section start */
    .feature{
      height:680px ;
      width: 100%;
      position: relative;
      & h3{
        margin: 100px 80px;
        font-size:35px ;
      }
  
  .feature-content{
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;   
    height: 380px; 
    width: 1580px;

    .hr{
      width: 100px;
      margin-top: 125px;
    }

}

 .secure-section {
     & h4{
      font-size: 34px;
      font-weight: 400;
      padding: 20px 0px;
     }
     & p{
      color: rgba(0, 0, 0, 0.798);
      padding: 15px;
     }
     .up{
       color: black;
     }

 }
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    text-align: center;
}

.div2 {
    grid-row: span 5 / span 5;
    grid-column-start: 3;

}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    text-align: center;
}

.div4 {
    grid-row: span 5 / span 5;
    grid-column-start: 6;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 7;
    text-align: center;
}
        

 .see-features{
  display: flex;
  justify-content: center;
  align-items: center;
    .but6{
      font-size: 20px;
      background-color: inherit;
      border: 2px solid rgba(0, 0, 0, 0.371);
    }

 }

}

/*feature section start */

/*byu-sell option start*/
.buy-optionb{
    border-right: 1px solid rgb(185, 182, 182);

}
.buysell-option{
     display: flex;
     justify-content: center;
     align-items: center;

     .buy-option{
      padding: 30px;
      
      & h3{
        font-size: 30px;
        margin-left: 30px;
      }

      .buysell-content{
        width:700px ;
        height: 80px ;
        display: flex;
        align-items: center;   
        border: 1px solid rgb(119, 116, 116);
        gap: 20px;
        margin: 30px;
        border-radius:10px;   
        & img{
          height: 50px;
          padding: 30px;

        }   
        
        & p{
          padding: 30px;
          font-size: 18px;

        }
      }
           .view-button{
            display: flex;
            align-items: center;
            justify-content: center;
              .but7{
                background-color: black;
                color: white;
                display: flex;
                justify-content: center;
               align-items: center;
      }
           }
     }

}

/*Go started section start */
  .get-section{
    background-color:rgba(164, 95, 243, 0.598) ;
    height: 660px;
    
   .text-section{
    text-align: center;
     
    & h2{
      padding: 180px;
      font-size: 50px;
    }

   }

   .get-button{
      display: flex;
      align-items: center;
      justify-content: center;
      
      .but8{
        background-color: black;
        color: white;
        padding: 18px 35px;
        font-size: 28px;
        margin-top: -29px;
      }
   }
  }

/*footer section start*/

.footer{
  height: 650px;
  background-color: rgb(0, 0, 0);
   
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
      
     .spacio{
      font-size: 30px;
      color: white;
      margin-top: -300px;
     }

     .product{
      color: white;
      font-size: 20px;
      margin: 5%;
      & h3{
          margin-bottom: 30px;
      }
      & p{
        padding: 10px;
      }
     }

  }
  .footer-text{

      & p{
        color: white;
        text-align: center;
        padding: 32px 40px;
        border-top: 1px solid white;
      }
  }

}



/* responsive for */


 @media (max-device-width:764px){
   .text{
       font-size: 15px;
    }

 
    

    .navbar{
       margin: 10px;

       .option{
        display:none;
       }

       & img{
        height: 24px ;
       }

       .login{
             
           .but2{
            display: none;
           }
           & img{
              display: none;
           }
        
       }
    }
       .hero-section{
       .bg{


        .fr{
            width: 280px;
            height: 280px;
            margin: 50px auto;
            
            .heading{
              font-size: 12px;
            }

            .form-content{
              
              
                & form{
                  gap: 7px;
                  display: block;
                  margin: 25px;

                  & select{
                    height: 35px;
                    width: 110px;
                    gap: 20px;
                    margin-bottom: 15px;
                  }

                }

            }

            .button{
              margin-top: -15px;
              
               gap: 7px;
               .but3{
                width: 40%;
                border-radius: 13px;
                font-size: 14px;
               }
               .but4{
                 width: 27%;
                 font-size: 12px;
                 padding: 7px 12px ;

                 
               }
            }
            
        }

        & img{
          width: 100%;
          height: 500px;
        }



       }
       
      


      }

      .buy-sell{
        height: 240px;
        .buy-content{
          .hd{
            font-size: 20px;
          }
        }
        
      }

   
      .feature{
        height: 1200px;
         & h3{
          font-size: 23px;
          margin:30px 20px;
          
        }

        .feature-content{

           .parent{
            height: 1000px;
            display: block;
            & img{
              margin-top: 50px;
            }
             & h4{
              font-size: 24px;
              margin: 7px 5px ;
             }
              .div2{
                display: none;
                
              }
              .div4{
                display: none;
              }
           }
        }


  }





     

