*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* common css start*/
  .text{
    font-size: 24px;
    font-weight: 400;
    color: rgb(57, 56, 56);
  }
  .btn{
    height:fit-content ;
    width:fit-content;
    padding: 7px 19px;
    text-align: center;
    margin-top: 13px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
  }
  .select{

  }
  
/* common css end*/


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 95%;
    height: 60px;
    
    .logo{
        margin: 10px;
       
    }
   .option ul{
     list-style: none;
     
      & li{
        display: inline-block;
        margin: 10px;
        padding: 5px;
        transition: 0.5s ease;
      }
      
      & li:hover{
         border-bottom: 1px solid rgba(70, 68, 68, 0.716);
         cursor: pointer;
      }

    
   }

   .login{
    display: flex;
    gap: 10px;
    margin-top: -5px;

    .but2{
        background-color: black;
        color: white;
    }
    & img{
        height: 40px;
        width: 40px;
        margin-top: 8px;

    }
   }

}

/*hero section */

 .hero-section{
    height: 760px;
    width: 100%;
     
     .bg{
      position: relative;
      z-index: -3;
      
      & img{
        height: 760px;
        width: 100%;
      }

      .fr{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 200px auto;
        border: 1px solid black;
        background-color:rgb(255, 255, 255);
        height: 344px;
        width: 1160px;
        border-radius: 10px;

        .heading{
          text-align: center;
          margin: 40px;
          font-size: 20px;
        }

        .form-content{
           & form{
                justify-content: center;
                display: flex;
                gap: 15px;
            
            & select {
               height: 40px;
               width: 220px;
               border: none;
               outline: none;
               border-radius: 8px;
               font-size: 14px;
               padding-left:10px ;
               
              }
           }
        }
      }
      
      .button{
        display: flex;
        justify-content: center;
        gap: 20px;
        .but3{
           width: 60%;
           border-radius: 10px;
          
        }
        .but4{
          width: 20%;
          background-color: rgb(18, 232, 228);
        }
      }

       .zappr{
          text-align: center;
          margin-top: -108px;

          .but5{
            background-color: inherit;
            border: 1px solid white;
            cursor: pointer;

            & p{
              color: white;
              font-weight: 300;
              font-size: 15px;
              border-bottom: 1px solid white;
            }
          }
       }

     }
    
    
  }


  /*buy/sell section start */
       .buy-sell{
        position: relative;
        margin-top: 56px;
        background-color: rgba(248, 213, 19, 0.946);
        height: 370px;
        width: 100%;
        
        .buy-content{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          margin-top: 50px;


          & h3{
          text-align: center;
          font-size: 34px;
          font-weight: 400;
          margin-bottom: 50px;

          
          & p{
            display: inline;
            font-style: italic;
          }

        }
        & img{
          width: 90%;
          margin:0 5%;
          
        }
   
         }
       }



/*feature section start */
    .feature{
      height:680px ;
      width: 1512px;
      position: relative;
      & h3{
        margin: 100px 80px;
        font-size:35px ;
      }
  
  .feature-content{
    margin-left: 10%;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;   
    height: 380px; 
    width: 1580px;

    .hr{
      width: 100px;
      margin-top: 125px;
    }

}

 .secure-section {
     & h4{
      font-size: 34px;
      font-weight: 400;
      padding: 20px 0px;
     }
     & p{
      color: rgba(0, 0, 0, 0.798);
      padding: 15px;
     }
     .up{
       color: black;
     }

 }
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    text-align: center;
}

.div2 {
    grid-row: span 5 / span 5;
    grid-column-start: 3;

}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    text-align: center;
}

.div4 {
    grid-row: span 5 / span 5;
    grid-column-start: 6;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 7;
    text-align: center;
}
        

    
    }